<header>
  <nav class="bg-lime-900 uppercase">
    <ul class="flex justify-center">
      <li class="ml-4 mr-4 mt-2 mb-2">
        <a
          href="/"
          class="<%= path === '/' ? 'text-lime-200' : 'text-white hover:text-lime-200' %>"
          >Shop
        </a>
      </li>
      <li class="ml-4 mr-4 mt-2 mb-2">
        <a
          href="/products"
          class="<%= path === '/products' ? 'text-lime-200' : 'text-white hover:text-lime-200' %>"
          >Products
        </a>
      </li>
      <li class="ml-4 mr-4 mt-2 mb-2">
        <a
          href="/cart"
          class="<%= path === '/cart' ? 'text-lime-200' : 'text-white hover:text-lime-200' %>"
          >Cart</a
        >
      </li>
      <li class="ml-4 mr-4 mt-2 mb-2">
        <a
          href="/orders"
          class="<%= path === '/orders' ? 'text-lime-200' : 'text-white hover:text-lime-200' %>"
          >Orders</a
        >
      </li>
      <!-- <li class="ml-4 mr-4 mt-2 mb-2">
        <a
          href="/admin/add-product?edit=false"
          class="<%= path === '/admin/add-product' ? 'text-lime-200' : 'text-white hover:text-lime-200' %>"
          >Add product
        </a>
      </li>
      <li class="ml-4 mr-4 mt-2 mb-2">
        <a
          href="/admin/products"
          class="<%= path === '/admin/products' ? 'text-lime-200' : 'text-white hover:text-lime-200' %>"
          >Admin product</a
        >
      </li> -->
      <li class="ml-4 mr-4 mt-2 mb-2">
        <a
          href="/login"
          class="<%= path === '/login' ? 'text-lime-200' : 'text-white hover:text-lime-200' %>"
          >Login</a
        >
      </li>
    </ul>
  </nav>
</header>
