<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../includes/header.ejs") %>

    <main class="w-full flex flex-col items-center">
      <h1 class="text-4xl uppercase mt-8 mb-8">*My cart*</h1>
      <% if(productsData.products.length > 0){ %>
        <ul>
          <% for(const prod of productsData.products){ %>
            <% for(const sprod of allProductsData){ %>
              <% if(prod.id === sprod.id){ %>
                <li><%= sprod.title %>(<%= prod.quantity %>)</li>
              <% } %>
            <% } %>
          <% } %>
        </ul>
        <h3>Total price: <%= productsData.totalPrice %></h3>
      <% } else { %>
        Not found any product...
      <% } %>
    </main>
  </body>
</html>
