<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../includes/header.ejs") %>

    <main class="w-full flex flex-col items-center">
      <h1 class="text-4xl uppercase mt-8 mb-8">*My cart*</h1>
      <% if(products.length > 0){ %>
        <ul>
          <% for(const prod of products){ %>
            <li>
              <%= prod.productId.title %>(<%= prod.quantity %>)
              <form action="/delete-cart-item" method="post">
                <input type="hidden" name="productId" value="<%= prod._id %>" />
                <input type="hidden" name="productPrice" value="<%= prod.price %>" />
                <button 
                  type="submit"
                  class="uppercase bg-lime-900 w-full mt-2 text-white pt-2 pb-2 hover:translate-y-1 hover:cursor-pointer transition duration-75"
                >Delete</button>
              </form>
            </li>
          <% } %>
        </ul>
        <form action="/create-order" method="post">
          <button
            class="uppercase bg-lime-900 w-full mt-2 text-white pt-2 pb-2 hover:translate-y-1 hover:cursor-pointer transition duration-75"  
            type="submit"
          >
            Order Now
          </button>
        </form>
      <% } else { %>
        Not found any product...
      <% } %>
    </main>
  </body>
</html>
