<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../includes/header.ejs") %>

    <main class="w-full flex flex-col items-center">
      <h1 class="text-4xl uppercase mt-8 mb-8">*My products*</h1>

      <% if(products.length > 0) { %>
      <ul class="flex">
        <% for(let prod of products){ %>
        <li class="m-4 w-3/12">
          <article class="w-full flex flex-col items-left">
            <img src="<%= prod.imageUrl %>" />
            <div class="flex justify-between items-center mt-4">
              <div>
                <h2 class="text-2xl font-bold"><%= prod.title %></h2>
              </div>
              <div class="bg-lime-900 rounded-md pl-1 pr-1">
                <h3 class="font-semibold text-white text-l">
                  ￥<%= prod.price %>
                </h3>
              </div>
            </div>
            <p class="mt-2 border-t-2 border-b-2"><%= prod.description %></p>
            <a
              class="uppercase text-center bg-lime-900 w-full mt-2 text-white pt-2 pb-2 hover:translate-y-1 hover:cursor-pointer transition duration-75"
              href="/products/<%= prod.id %>"
              >Detail</a
            >
            <form action="/add-to-cart" method="post">
              <button
                class="uppercase bg-lime-900 w-full mt-2 text-white pt-2 pb-2 hover:translate-y-1 hover:cursor-pointer transition duration-75"
                type="submit"
              >
                Add to cart
              </button>
            </form>
          </article>
        </li>
        <% } %>
      </ul>
      <% } else { %>
      <h2>Product not found...</h2>
      <% } %>
    </main>
  </body>
</html>
