<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <%- include("../includes/header.ejs") %>

    <main class="w-full flex flex-col items-center">
      <h1 class="text-4xl uppercase mt-8 mb-8">*My orders*</h1>
      <% if(orders.length > 0)  { %>
        <ul>
          <% for(const order of orders) { %>
            <li>
              <h3>#<%= order._id %></h3>
              <ul>
                <% for(const product of order.items) { %>
                  <li><%= product.title %> (<%= product.quantity %>)</li>
                <% } %>
              </ul>
            </li>
          <% } %>
        </ul>
      <% } else { %>
        <h3>Nothing found in your oders.</h3>
      <% } %>
    </main>
  </body>
</html>
